# Byte-compiled/ optimized / DLL files
*__pycache__

# Unit test / coverage reports
.coverage
.cache

# OS and editor files
.DS_Store

# Virtualvenv
/tfvenv

# Secret Settings
newburgh_secret_settings.py
